body {
  font-family: 'MedievalSharp', cursive;
}

.card-title {
  text-align: center;
  border-bottom: 5px gold solid;
  font-size: 30px;
}

.card-text {
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
}
