body {
  font-family: 'MedievalSharp', cursive;
  background-image: url(../images/holy_grail_wallpaper.jpg);
}

.card-title {
  text-align: center;
  border-bottom: 5px gold solid;
  font-size: 28px;
}

.card-text {
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
}

img {
  width: 100%;
}

.lead {

}

#img {
  transition: opacity 1s, width 2s;

  margin-top: 10px;
}

#player {
  transition-duration: 2s;
  position: relative;
  bottom: 45%;
  opacity: 0;
}

.win-lose {
  width: 1%;
  margin: auto;
  z-index: 0;
  position: absolute;
  top: 10%;
  left: 25%;
  margin-bottom: 0px;
  transition: opacity 0.2s, width 0s;
}

.win-lose {
  trans
}

#winCard {
  opacity: 0;
}

#loseCard {
  opacity: 0;
}
